<html>
 <head>
  <title>Ansible Application</title>
 </head>
 <body>
 </br>
  <a href=http://{{ ansible_default_ipv4.address }}/index.html>Homepage</a>
 </br>
<?php 
 Print "Hello, World!";
 Print  "</BR>";
echo  "List of Databases: </BR>";
        $link = mysql_connect('{{ host }}', '{{ dbuser }}', '{{ dbpassword }}') or die(mysql_error());
        if ($link){
            echo "connect success\n";
        	$res = mysql_list_dbs($link);
        	while ($row = mysql_fetch_assoc($res)) {
                echo $row['Database'] . "\n";
        	}
        	mysql_close($link); 
        }

        
?>
</body>
</html>